* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: rgb(32, 32, 32);
}

html {
  font-size: 62.5%;
}

.form-container {
  border: 0.1rem solid rgba(37, 37, 37, 0.171);
  border-radius: 0.5rem;
  padding: 6rem;
  margin: auto;
  margin-top: 5rem;
  width: 30%;
  box-shadow: 0.2rem 0.2rem 0.9rem 0.1rem rgba(0, 0, 0, 0.151);
}

form {
  width: 100%;
}

label {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  display: block;
  text-align: start;
  width: 35%;
}

.input {
  font-size: 1.4rem;
  padding-left: 1rem;
  height: 5rem;
  width: 100%;
  border-radius: 0.4rem;
  border: 0.1rem solid rgb(197, 197, 197);
}
.input:focus {
  transition: 200ms;
  transform: scale(1.01);
  box-shadow: 0.2rem 0.2rem 0.9rem 0.1rem rgba(0, 0, 0, 0.151);
  outline-width: 1rem;
  outline-color: rgb(131, 185, 255);
  background-color: rgba(131, 185, 255, 0.082);
}
.input--invalid {
  background-color: rgba(255, 139, 139, 0.39);
}
.input--invalid:focus {
  outline-width: 1rem;
  outline-color: rgb(255, 148, 148);
  background-color: rgba(255, 0, 0, 0.041);
}

::placeholder {
  color: rgba(128, 128, 128, 0.473);
}

.container {
  margin: 2rem 0rem;
}

.button {
  color: #fff;
  font-size: 1.4rem;
  background-color: rgb(131, 185, 255);
  border: 0.1rem solid rgba(0, 0, 0, 0.185);
  border-radius: 0.5rem;
  padding: 1.2rem 4rem;
  display: block;
  margin: auto;
  margin-top: 4rem;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(111, 172, 252);
}
